@media screen and (max-width:425px) {
    /* nav section */
    nav{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
    }
    .nav-menu-left{
        flex-direction: column;
    }
    /* play like section */
    .play-like{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .play-like-bg{
        display: none;
    }
    .play-like-img{
        height: 250px;
    }
    /* play instant */
    .play-instant{
        flex-direction: column;
    }
    .play-instant-img-container{
        display: flex;
    }
    .cowboy{
        /* display: none; */
        height: 220px;
    }
    .angela{
        height: 121px;
        left:-55px;
        top:120px;
    }
    footer{
        text-align: center;
    }
    .footer-container{
        padding: 20px 10% 20px 10%;
    }
    .footer-menu{
        justify-content: center;
        gap: 15px;
    }
    .policy{
        gap: 10px;
        justify-content: center;
    }


}
/* For tablet devices */
@media screen and (min-width:426px) and (max-width:768px){
           /* nav section */
    nav{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
    }
    .nav-menu-left{
        flex-direction: column;
    }
    /* play like section */
    .play-like{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .play-like-bg{
        display: none;
    }
    .play-like-img{
        height: 250px;
    }
    /* play instant */
    .play-instant{
        flex-direction: column;
    }
    .play-instant-img-container{
        display: flex;
    }
    .cowboy{
        /* display: none; */
        height: 220px;
    }
    .angela{
        height: 121px;
        left:-55px;
        top:120px;
    }

    footer{
        text-align: center;
    }
    .footer-container{
        padding: 20px 10% 20px 10%;
    }
    .footer-menu{
        justify-content: center;
        gap: 15px;
    }

    .policy{
        gap: 10px;
        justify-content: center;
    }
}