/* for mobile devices */
@media screen and (max-width:425px) {
    /* nav section */
    nav{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
    }
    .nav-menu-left{
        flex-direction: column;
    }
    /* play like section */
    .play-like{
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    .play-like-content{
        margin-top: 30px;
    }
    .play-like-content h3 {
        font-size:1.3rem;
        text-align: center;
    }
    .play-like-content h1{
        font-size: 3rem;
        text-align: center;
    }
    .play-like-anchor{
        align-items: center;
        margin-left: 40px;
    }
    .play-like-btn{
        text-align: center;
        justify-content: center;
    }
    .play-like-btn .btn-1 , .btn-2{
        font-size: .6rem;
    }
    .play-like-content{
        position: relative;
    }
    .play-like-bg{
        height: 110%;
        width: 110%;
        position: absolute;
        top: -8px;
    }
    .play-like-img{
        height: 250px;
    }
    /* play instant */
    .play-instant{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: -80px;
        margin-top: 50px;
    }
    .play-instant-title{
        font-size: 1.5rem;
        text-align: center;
        line-height: 35px;
    }
    .play-instant-img-container{
        margin-top: 40px;
        display: flex;
        max-width:250px;
        
    }
    .cowboy{
        /* display: none; */
        height: 250px;
    }
    .angela{
        height: 121px;
        left:-55px;
        top:170px;
    }
     /* Categories */
     .categories{
        padding: 50px 5%;
     }
     .category-container{
        gap:10px;
    }
    /* online games */
    .online-games{
        margin-top:60px;
    }
    .online-games-title{
        font-size:1.5rem;
    }
    .online-games-cards{
        flex-direction: column;
        align-items: center;
    }

    .category-container{
        padding: 5px 10px;
    }
    .category-item{
        width: 150px;
    }
    .category-ico img {
        width: 30px;
        height: 30px;
    }
    .category-name p {
        font-size:.7rem;
    }



    footer{
        text-align: center;
    }
    .footer-container{
        padding: 20px 10% 20px 10%;
    }
    .footer-menu{
        justify-content: center;
        gap: 15px;
    }
    .policy{
        gap: 10px;
        justify-content: center;
    }


}
/* For tablet devices */
@media screen and (min-width:426px) and (max-width:768px){
           /* nav section */
    nav{
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
        flex-direction: column;
    }
    .nav-menu{
        flex-direction: column;
    }
    .nav-menu-left{
        flex-direction: column;
    }
    /* play like section */
    .play-like{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .play-like-bg{
        display: none;
    }
    .play-like-img{
        height: 250px;
    }

    /* online games */
    .online-games{
        text-align: center;
    }


    /* play instant */
    .play-instant{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .play-instant-img-container{
        margin-top: 40px;
        display: flex;
        
    }
    .play-instant{
        flex-direction: column;
    }
    .play-instant-img-container{
        display: flex;
    }
    .cowboy{
        /* display: none; */
        height: 300px;
    }
    .angela{
        height: 150px;
        left:-55px;
        top:190px;
    }

    
    /* online games */
    .online-games{
        margin-top:30px;

    footer{
        text-align: center;
    }
    .footer-container{
        padding: 20px 10% 20px 10%;
    }
    .footer-menu{
        justify-content: center;
    }

    .policy{
        gap: 10px;
        justify-content: center;
    }
    }
}